.inline-list li{
    display: inline;
    padding: 0.1em 0.5em;
}

.myMono{
    font-family: $font-mono;
}
.front-posts{
    list-style: none;
    padding: 0;
    .front-title{
        color: $text-color;
        text-decoration: none;
        border-bottom: none;
    }
}
.text-center{
    text-align: center;
}
.container{
    max-width: 768px;
}
hr{
    border-bottom: 5px solid $link-color;
    width: 80%;
}
