.inline-list li{
    display: inline;
    padding: 0.1em 0.5em;
}

.myMono{
    font-family: $font-mono;
}
.front-posts{
    list-style: none;
    padding: 0;
    .front-title{
        color: $text-color;
        text-decoration: none;
    }
}

.text-center{
    text-align: center;
}
