// Mobiles
@media all and (max-width: 767px){
    body{
        font-size: ceil(($font-size-base * 1));
    }
    h1 { font-size: ($font-size-h1 * 1 ); }
    h2 { font-size: ($font-size-h2 * 1 ); }
    h3 { font-size: ($font-size-h3 * 1 ); }
    h4 { font-size: ($font-size-h4 * 1 ); }
    h5 { font-size: ($font-size-h5 * 1 ); }
    h6 { font-size: ($font-size-h6 * 1 ); }
}
// Tablets
@media all and (min-width: 768px) and (max-width: 1023px){
    body{
        font-size: ceil(($font-size-base * 1.14));
    }
    h1 { font-size: ($font-size-h1 * 1.14 ); }
    h2 { font-size: ($font-size-h2 * 1.14 ); }
    h3 { font-size: ($font-size-h3 * 1.14 ); }
    h4 { font-size: ($font-size-h4 * 1.14 ); }
    h5 { font-size: ($font-size-h5 * 1.14 ); }
    h6 { font-size: ($font-size-h6 * 1.14 ); }
}
// Desktops
@media all and (min-width: 1024px){
    body{
        font-size: ceil(($font-size-base * 1.25));
    }
    h1 { font-size: ($font-size-h1 * 1.25 ); }
    h2 { font-size: ($font-size-h2 * 1.25 ); }
    h3 { font-size: ($font-size-h3 * 1.25 ); }
    h4 { font-size: ($font-size-h4 * 1.25 ); }
    h5 { font-size: ($font-size-h5 * 1.25 ); }
    h6 { font-size: ($font-size-h6 * 1.25 ); }
}